@import "../../styles/abstracts/mixins";

.button {
  color: $button-text-color;
  background-color: $button-background-color;

  &__img {
    height: 20px;
  }

  &__text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @include respond-to("mobile") {
      width: 100%;
    }
  }

  @include button-base;
  @include button-size;
}
