.button {
  color: #ffffff;
  background-color: #0095ff;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  min-width: 150px;
  padding: 0 8px;
  height: 40px;
}
.button__img {
  height: 20px;
}
.button__text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .button__text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .button {
    width: 100%;
    min-width: 100%;
  }
}
.button:hover {
  background-color: #0065ad;
}