.mainVideo {
  background-color: #000000;
}

.container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: black;
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoPlayer__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.controlsBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 30px;
}