@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.detailItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 16px;

  &__icon {
    height: 16px;
  }

  @include respond-to("mobile") {
    width: 100%;
    justify-content: flex-start;
  }
}
