@import "../../../styles/abstracts/variables";

.detailItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 16px;

  &__icon {
    height: 16px;
  }
}
