@import "../../../styles/abstracts/variables";

.sideVideoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 90px;
  margin-bottom: 32px;
  cursor: pointer;

  &__info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__thumbnail {
    width: 160px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-right: 16px;
    border-radius: $thumbnail-border-radius;
    border: none;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
