.sideVideos {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-left: 16px;
}
@media (max-width: 1023px) {
  .sideVideos {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .sideVideos {
    min-width: 120px;
  }
}
.sideVideos__title {
  margin: 16px 0;
}