@import "./variables";

// Helper mixins

@mixin center-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Responsive mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == "non-desktop" {
    @media (max-width: 1023px) {
      @content;
    }
  }
}

// Button mixins

@mixin button-base {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  cursor: pointer;
  border: none;
  border-radius: $button-border-radius;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;

  @include respond-to("mobile") {
    width: 100%;
    min-width: 100%;
  }

  &:hover {
    background-color: $button-hover-color;
  }
}

@mixin button-size($width: $button-width-desktop) {
  width: $width;
  min-width: $width;
  padding: 0 $button-padding-horizontal;
  height: $button-height;
}

// Form Field Mixin

@mixin form-field-base {
  display: flex;
  width: 100%;
  //max-width: $form-field-width-min;
  height: $form-field-height-desktop;
  align-items: center;
  justify-content: center;
  border: $form-field-border-width-default solid $color-mercury;
  border-radius: $form-field-border-radius;

  padding: 10px;

  &:focus {
    border-width: $form-field-border-width-active;
    border-color: $color-blue;
    outline: none;
  }

  &.error {
    border-color: $error-color;
  }

  @include respond-to("mobile") {
    height: $form-field-height-mobile;
    padding: $form-field-padding-mobile;
  }
}

// Divider

@mixin divider {
  width: $divider-width;
  height: $divider-height;
  background-color: $divider-color;
}

// Image

@mixin image-container {
  border-radius: $image-border-radius;
  overflow: hidden;
  background-color: $color-mercury;
}

// Avatar

@mixin avatar {
  width: $avatar-size-desktop-max;
  height: $avatar-size-desktop-max;
  border-radius: $avatar-border-radius;
  overflow: hidden;
  object-fit: cover;
  background-color: $avatar-placeholder-color;

  @include respond-to("mobile") {
    width: $avatar-size-mobile-max;
    height: $avatar-size-mobile-max;
  }

  img {
    height: 100%;
  }
}

// Headline

@mixin headline {
  padding-top: 36px;
  padding-bottom: 24px;

  @include respond-to("mobile") {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

// Component

@mixin component {
  padding-top: 24px;

  @include respond-to("mobile") {
    padding-top: 16px;
  }
}
