// COLORS

// Primary Colors
$color-black: #323232; // Primary text color
$color-blue: #0095ff; // Primary CTA color, active form field outline color
$color-silver: #afafaf; // Secondary text color, text label color
$color-white: #ffffff; // Background color, CTA text color

// Secondary Colors
$color-dark-black: #000000; // Video player components
$color-dark-blue: #0065ad; // CTA hover state color
$color-mercury: #e1e1e1; // Divider line, form field outline color
$color-alabaster: #fafafa; // Form field background color

// PADDINGS

// Desktop and Tablet Paddings
$padding-before-headlines-desktop: 36px;
$padding-after-headlines-desktop: 24px;
$padding-between-components-desktop: 24px;

// Mobile Paddings
$padding-before-headlines-mobile: 24px;
$padding-after-headlines-mobile: 16px;
$padding-between-components-mobile: 16px;
