// COLORS

// Primary Colors
$color-black: #323232; // Primary text color
$color-blue: #0095ff; // Primary CTA color, active form field outline color
$color-silver: #afafaf; // Secondary text color, text label color
$color-white: #ffffff; // Background color, CTA text color

// Secondary Colors
$color-dark-black: #000000; // Video player components
$color-dark-blue: #0065ad; // CTA hover state color
$color-mercury: #e1e1e1; // Divider line, form field outline color
$color-alabaster: #fafafa; // Form field background color

$error-color: #d22d2d;

// PADDINGS

// All
$padding-before-after-header: 16px;

// Desktop and Tablet Paddings
$padding-before-headlines-desktop: 36px;
$padding-after-headlines-desktop: 24px;
$padding-between-components-desktop: 24px;

$padding-section-desktop: 128px;
$padding-section-tablet: 64px;

// Mobile Paddings
$padding-before-headlines-mobile: 24px;
$padding-after-headlines-mobile: 16px;
$padding-between-components-mobile: 16px;

$padding-section-mobile: 8px;

// BUTTONS

// Button sizes
$button-height: 40px;
$button-width-desktop: 150px; // Minimum width for desktop and tablet
$button-padding-horizontal: 8px;
$button-border-radius: 4px;

// Colors
$button-text-color: $color-white; // White
$button-background-color: $color-blue; // BrainFlix-DarkBlue
$button-hover-color: $color-dark-blue; // Darker shade for hover

// SEARCH BAR
$searchBar-height: 40px;
$searchBar-border-radius: 4px;
$searchBar-padding-horizontal: 16px;
$searchBar-width: 320px;

// FORM FIELD

// Dimensions
$form-field-height-desktop: 40px;
$form-field-height-mobile: 36px;
$form-field-width-min: 240px;
$form-field-padding-desktop: 16px;
$form-field-padding-mobile: 12px;
$form-field-label-spacing: 4px;
$form-field-border-width-default: 1px;
$form-field-border-width-active: 2px;
$form-field-border-radius: 4px;

//DIVIDER

$divider-width: 100%; // Full width by default
$divider-height: 1px;
$divider-color: $color-mercury;
$divider-margin: 10px;

// IMAGE

// Color
$image-bg-color: $color-mercury;

// Dimension
$image-border-radius: 4px;

//AVATAR

$avatar-border-radius: 50%;
$avatar-size-desktop-max: 40px;
$avatar-size-mobile-max: 36px;
$avatar-placeholder-color: $color-mercury;
