.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.avatar-container {
  margin-left: 32px;
}