@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Avenir Next LT Pro", sans-serif;
}
