@import "../../styles/abstracts/variables";

.videoDetails {
  &__title {
  }

  &__beforeDescription {
    width: 100%;

    padding-bottom: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__description {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
  }
}

.beforeDescription {
  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    &-channel {
      padding-right: 32px;
    }

    &-date {
      font-size: 13px;
      color: $color-silver;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-views {
      padding-right: 32px;
    }

    &-likes {
    }
  }
}
