.videoDetails__beforeDescription {
  width: 100%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.videoDetails__description {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 16px;
}

.beforeDescription__left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.beforeDescription__left-channel {
  padding-right: 32px;
}
@media (max-width: 767px) {
  .beforeDescription__left-channel {
    margin-bottom: 16px;
  }
}
.beforeDescription__left-date {
  font-size: 13px;
  color: #afafaf;
}
@media (max-width: 767px) {
  .beforeDescription__left {
    flex-direction: column;
  }
}
.beforeDescription__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.beforeDescription__right-views {
  padding-right: 32px;
}
@media (max-width: 767px) {
  .beforeDescription__right-views {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .beforeDescription__right {
    flex-direction: column;
  }
}